<!-- form>div.form-group>label[for='firstName']+input[id='firstName' type='text'].form-control -->
<form>

    <!-- div.form-group>label[for='firstName']+input[id='firstName' type='text'].form-control -->
    <div class="form-group">
        <!-- label[for='firstName']+input[id='firstName' type='text'].form-control -->
        <label for="firstName">
            <strong>First Name</strong>
        </label>
        <input id="firstName" type="text" class="form-control" placeholder="Enter first name">
    </div>

    <!-- div.form-group>label[for='comment']+textarea[id='comment'].form-control -->
    <div class="form-group">
        <label for="comment">
            <strong>Comment</strong>
        </label>
        <textarea id="comment" cols="30" rows="10" class="form-control" placeholder="Enter comment"></textarea>
    </div>

    <!-- button.btn.btn-primary -->
    <button class="btn btn-primary">Submit</button>
</form>