<!-- form>div.form-group>label[for='firstName']+input[id='firstName' type='text'].form-control -->
<form #f="ngForm" (ngSubmit)="submit(f)">

    <div ngModelGroup="contact" #contact="ngModelGroup" (change)="getContact(contact)">
        <!-- <div *ngIf="!contact.valid">Enter the valid name</div> -->
        <!-- div.form-group>label[for='firstName']+input[id='firstName' type='text'].form-control -->
        <div class="form-group">
            <!-- label[for='firstName']+input[id='firstName' type='text'].form-control -->
            <label for="firstName">
                <strong>First Name</strong>
            </label>
            <input 
                required 
                minlength="3" 
                maxlength="10" 
                pattern="banana" 
                ngModel 
                name="firstName" 
                #firstName="ngModel" 
                (change)="log(firstName);getContact(contact)" 
                id="firstName" 
                type="text" 
                placeholder="Enter first name" 
                class="form-control">
            <div 
                class="alert alert-danger" 
                *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">
                    First Name is required.
                </div>
                <div *ngIf="firstName.errors.minlength">
                    First name should be minimum {{firstName.errors.minlength.requiredLength}} characters.
                </div>
                <div *ngIf="firstName.errors.pattern">
                    First name doesn't match the pattern.
                </div>
            </div>
        </div>
    </div>

    <!-- div.form-group>label[for='comment']+textarea[id='comment'].form-control -->
    <div class="form-group">
        <label for="comment">
            <strong>Comment</strong>
        </label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"
            placeholder="Enter comment"></textarea>
    </div>

    <!-- div.checkbox>label>input[type='checkbox'] -->
    <div class="checkbox">
        <label>
            <!-- Similar to other input fields, we need to apply the ngModel directive here.
            And as you know Angular will create an instance of the form control object for this input field.
            And you should also set the name attribute isSubscribed -->
            <input type="checkbox" ngModel name="isSubscribed">Subscribe to mailing list
        </label>
    </div>

    <!-- div.form-group>label[for='contactMethod']+select[id='contactMethod'].form-control -->
    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select ngModel name="contactMethod" id="contactMethod" class="form-control">
        <!-- <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control"> -->
            <option value=""></option>
            <!-- <option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option> -->
            <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option>
        </select>
    </div>
    <p>
        {{f.value | json}}
    </p>
    <!-- button.btn.btn-primary -->
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>