<!--The content below is only a placeholder and can be replaced.-->
<h1>Welcome to {{ title }} Angular!</h1>
<!-- ngIf is used for large element trees. -->
<p>coursesList length is {{coursesList.length}}</p>
<div *ngIf="coursesList.length > 0; then courseList else noCourses"></div>
<ng-template #courseList>Following are the list of courses and emails</ng-template>
<ng-template #noCourses>No courses yet</ng-template>

<courses></courses>

<app-course></app-course>

<!-- hidden used for small element trees. if condition is true then div block is hidden else not hidden -->
<div [hidden]="coursesList.length == 0">
  List of hidden courses
</div>
<div [hidden]="coursesList.length > 0">
  No hidden courses
</div>
<p hidden>This paragraph should be hidden.</p>

<ul class="nav nav-pills">
  <li [class.active]="viewMode=='map'"><a (click)="viewMode='map'">Map View</a></li>
  <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<ul>
  <li *ngFor="let course of listOfCourses; index as i; even as isEven">
    {{i}}-{{course.id}}-{{course.name}} <span *ngIf="isEven">(EVEN)</span>
    <!-- {{i}}-{{course.name}} <span *ngIf="isEven; then even else odd">(EVEN)</span>
    <ng-template #even>(EVEN)</ng-template>
    <ng-template #odd>(ODD)</ng-template> -->
  </li>
</ul>

<button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of listOfCourses">
    {{course.name}}
    <!-- <button (click)="onRemove(course)">Remove</button> -->
    <button (click)="onChange(course)">Remove</button>
  </li>
</ul>

<authors></authors>