<!--The content below is only a placeholder and can be replaced.-->

<!-- Inconsistent/Old approach. div element is added in DOM only when ngIf is true. -->
<div *ngIf="courses.length > 0">
  List of courses: {{courses}}
</div>
<div *ngIf="courses.length == 0">
  No courses yet
</div>


<!-- Consistent/New approach. ngIf is used for large element trees. ng-template element is not added in DOM -->
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  List of courses: {{courses}}
</ng-template>
<ng-template #noCourses>
  No courses yet
</ng-template>

<!-- hidden used for small element trees / more costly and takes more memory(i.e., Both div elements are added on DOM, because of Hidden Property) -->
<div [hidden]="courses.length == 0">
  List of courses:{{courses}}
</div>
<div [hidden]="courses.length > 0">
  No courses yet
</div>