<!--The content below is only a placeholder and can be replaced.-->

<!-- Inconsistent/Old approach. div element is added in DOM only when ngIf is true. -->
<div *ngIf="course.length > 0">
  List of course: {{course}}
</div>
<div *ngIf="course.length == 0">
  No course yet
</div>


<!-- Consistent/New approach. ngIf is used for large element trees. ng-template element is not added in DOM -->
<div *ngIf="course.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  List of course: {{course}}
</ng-template>
<ng-template #noCourses>
  No course yet
</ng-template>

<!-- hidden used for small element trees / more costly and takes more memory(i.e., Both div elements are added on DOM, because of Hidden Property) -->
<div [hidden]="course.length == 0">
  List of course:{{course}}
</div>
<div [hidden]="course.length > 0">
  No course yet
</div>


<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
      Map View
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" /> -->
      List View
    </a>
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>


<ul>
  <li *ngFor="let course of courses; index as i; even as isEven;">
    index:{{i}}, id:{{course.id}}, name:{{course.name}} <span *ngIf="isEven">(EVEN)</span>
  </li>
</ul>

<button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses">
    {{course.name}}
    <button (click)="onRemove(course)">Remove</button>
    <button (click)="onChange(course)">Change</button>
  </li>
</ul>


<button (click)="loadCourses()">Load Courses</button>
<ul>
  <li *ngFor="let course of courses; index as i; trackBy : trackCourse">
    index:{{i}}, id:{{course.id}}, name:{{course.name}}
  </li>
</ul>