<p>posts works!</p>
<!-- input.form-control -->
<input 
    (keyup.enter)="createPost(title)" #title
    type="text" class="form-control">
<!-- ul.list-group>li.list-group-item -->
<ul class="list-group">
    <li
     *ngFor="let post of posts"
     class="list-group-item">
    <!-- button.btn.btn-default.btm-sm -->
    <button
        (click)="updatePost(post)"
        class="btn-default btm-sm"
    >Update</button>
    <button
        (click)="deletePost(post)"
        class="btn-default btm-sm"
    >Delete</button>
     {{post.title}}
    </li>
</ul>