<p>favorite works!</p>
<!-- "isFavorite" not preffered approach(First approach) -->
<!-- <span class="fa" [class.fa-star]="isFavorite" [class.fa-star-o]="!isFavorite" style="font-size: 5em;"
    (click)="onClick()"></span> -->

<!-- "isSelected" preffered approach(Second approach) -->
<span class="fa" [class.fa-star]="isSelected2" [class.fa-star-o]="!isSelected2" style="font-size: 5em;"
    (click)="onClick()"></span>

<br />
<br />
<!-- Using ngClass attribute directive, we don't have to repeat class binding twice. -->
<!-- Using ngClass attribute directive, we can modify attibutes of existing DOM element. -->
<span class="fa" [ngClass]="{
        'fa-star': isSelected2,
        'fa-star-o': !isSelected2
    }" style="font-size: 5em;" (click)="onClick()"></span>