<p>panel works!</p>
<!-- 
Emmet abbreviation: It's a shorthand syntax for quickly generating HTML code in editors like VS Code.
For example:
When you type below HTML
↓
div.panel.panel-default>div.panel-heading+div.panel-body
↓
Then press Tab button, and it expands to:
<div class="panel panel-default">
    <div class="panel-heading">Heading</div>
    <div class="panel-body">Body</div>
</div> 
-->

<!-- ng-content is injection point to provide content. -->
<div class="panel panel-default">
    <div class="panel-heading">
        <ng-content select=".heading"></ng-content>
    </div>
    <div class="panel-body">
        <ng-content select=".body"></ng-content>
    </div>
</div>